@model RedefinirSenhaModel

@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Redefinir Senha";
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MensagemErro"]
    </div>
}

<form asp-action="EnviarLinkParaRedefinirSenha" method="post">

    <div class="mb-3">
        <label asp-for="Login" class="form-label"></label>
        <input asp-for="Login" class="form-control" />
        @Html.ValidationMessageFor(x => x.Login)
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" type="text" />
        @Html.ValidationMessageFor(x => x.Email)
    </div>

    <a role="button" class="btn btn-secondary w-100" asp-action="Index">Voltar</a>
    </br>
    <button type="submit" class="btn btn-primary w-100">Redefinir Senha</button>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
